body {
  font-size: 20px;
  background-color: rgb(119, 119, 168);
  position: relative;
}
h2,
h3 {
  margin: 0;
  padding: 5px;
}
p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
          /* Wallet field */
.wallet {
  width: 570px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: wheat;
}
.wallet-header {
  margin: 0;
  padding-bottom: 5px;
  border-bottom: solid 1px black;
  font-size: 20px;
}
.money {
  padding-left: 5px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(212, 127, 0);
}
.bet-result,
.bet-colorResult {
  margin:0 auto;
  padding: 3px 5px 1px;
  font-size: 20px;
  color:rgb(212, 127, 0)
}

.bet-message {
  font-size: 20px;
  background-color: indianred;
  color: rgb(252, 235, 0);
}
.wallet-input {
  text-align: center;
  margin-top: 5px;
  width: 50px;
  height: 20px;
  font-size: 20px;
}

.wallet-input-text {
  padding: 5px;
  margin: 0;
  font-size: 20px;
}

.betAmount {
  display:flex;
  justify-content: center;
  width: 580px;
  margin: 0 auto;

  color: rgb(179, 21, 0);
  font-size: 20px;
  font-weight: 700;
}
.bet-text,
.numberBet-text {
  text-align: center;
}
.confirmation {
  width: 120px;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}


.colorBetSection,
.numberBetSection {
  width: 480px;
  height: 100%;
  padding: 0 50px;
  margin: 0 auto;
  border: 3px solid black;
}

.bet-color-field {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10;
  width: 480px;
}
.red {
  background-color: rgb(200, 0, 0);
  border: 5px solid rgb(200, 0, 0);
}
.red:hover {
  border: 5px solid darkblue;
}
.black {
  background-color: rgb(10, 10, 10);
  border: 5px solid rgb(10, 10, 10);
}
.black:hover {
  border: 5px solid darkblue;
}

.colorBet {
  color: white;
  padding: 20px 50px;
  margin: 10px;
}

/*        Number field          */
.numberBet-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 420px;
  height: 480px;
  padding: 20px;
  margin: 0 auto;
  background-color: green;
}
.numberBet {
  width: 60px;
  height: 60px;
  margin: 5px;
  padding: 10px;
  background-color: rgb(78, 78, 78);
  color: white;
  font-size: 24px;
}
.numberBet:hover,
.numberBet:focus {
  background-color: rgb(143, 142, 142);
}
.accent {
  background-color: rgb(143, 142, 142);
  color: black;
}
.cancel {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  font-size: 24px;
  background-color: goldenrod;
  color: rgb(255, 255, 255);
  border: 1px solid black;
}
        /* MODAL */
.layout {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}
.modal {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 200px;
  left: calc((100vw - 300px)/2);
  background-color: bisque;
  border-radius: 5px;
}
.results {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border-bottom: 2px solid gray;
}
.results-text {
  font-size: 24px;
}
.results-number {
  padding: 0 10px;
  background-color: wheat;
  border: 2px solid orange;
}
.results-color {
  padding: 0 5px;
  color: white;
}
.start {
  padding: 5px 20px;
  font-size: 20px;
  background-color: rgb(255, 108, 2);
  border-radius: 25px;
}
.winCalc {
  width: 90%;
  margin: 0 auto;
 text-align: center;
  background-color: yellow;
  border-color: orange;
  border-radius: 10px;
}
.winCalc p {
  animation-name: apear;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: initial;
}
/* .winAnimate {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: initial;
} */

.animation {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes apear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}